.verde{
    color: green; padding-bottom: 12px;
}
.vermelho{
    color: red; padding-bottom: 12px;
}
.amarelo{
    color: orange;
}
.azul{ color: blue; padding-bottom: 12px;
}
.rosa{ color: pink; padding-bottom: 12px;
}