/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/08/2017, 22:39:55
    Author     : casa
*/
.verde{
    color: green;
}
.vermelho{
    color: red;
}
.amarelo{
    color: orange;
}
